


.h1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: sienna;
    background-color: floralwhite;

}

.nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: sienna;
    background-color: floralwhite;
}
.nav a {
    padding: 15px;

}